.topCard{
  margin-top: 1% !important;
  font-family: 'Raleway' !important;
}

.topCard a{
  color: #C24452;
  text-decoration: none;
  font-weight: 400px;
  font-family: 'Raleway';
}

.topCard a:hover {
  color: #C24452;
  text-decoration: none;
  font-weight: bold;

}

.app{
     width: 100vw;
     background: url('../../assets/images/SignUpScreenBackground.png');
     background-attachment: fixed;
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     font-family: 'Raleway'
}

.names{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  font-family: 'Raleway'
}

.input-group-prepend .input-group-text{
  background-color: #620611;
  color: #fff;
  font-family: 'Raleway'
}

.btn.btn-submit{
  background-color: #820513;
  color: #fff;
  width: 12rem;
  border-radius: none !important;
}
.pad{
  margin-top: 1rem;
}

label span{
  color: #C24452;
}