@import url('https://fonts.googleapis.com/css?family=Raleway');


.pay{
  text-align: center;
  width: 20rem;
   margin: auto;
  margin-top: 10%;

}

.farm{
  height: 100%;
  background: #fff;

  padding: 1.5rem 5rem;
}

.navbar-toggler-icon {
  border-bottom: 1px solid white;
  height: 10px;
}

.navbar-toggler-icon::after {
  content: '';
  border-top: 1px solid white;
  width: 100%;
  display: block;

}

.navbar-toggler-icon::before {
  content: '';
  border-top: 1px solid white;
  width: 100%;
  display: block;
  height: 20px;

}

.paystack-container .test-mode-badge {
  position: relative;
  top: -20rem !important;
}

.navbar.navbar-expand-md{
  height: 70px !important;
}

.farm-header{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: end;
  align-items: flex-end;
  background: url('../../../assets/images/CreateFarmHeaderBackground.png') no-repeat;
  background-size: cover;
  background-position: top top;
  width: 100%;
  height: 15rem;
  color: #fff;
  padding-left: 1rem;
  padding-top: 4rem;
  font-family: 'Raleway' !important;
  font-weight: bold !important;
  font-size: 2rem;
}

.farm-header h3 {
  margin-bottom: 0rem !important;
  font-size: 4rem;
}

.farm-header h4{
  margin-bottom: 0rem !important;
  font-size: 3rem;
}

.create-farm{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  width: 100%;
  height: 100vh;

}

.navbar-brand img{
  width: 5rem;
}

@media(max-width: 500px){
  .create-farm {
    display: grid;
    grid-template-columns: 0rem 1fr;

  }
}

.side.shrink{
  grid-column-end: span 1;
}

.side.full {
  grid-column-end: span 2;
}

.farm-body.full{
  width: 100%;
  background-color: #fff;
  grid-column-end: span 10;
}

.farm-body.shrink {
  width: 100%;
  background-color: #fff;
  grid-column-end: span 11;
}

.payButton{
  position: relative;
  top: -3rem !important;
}

.modal-footer{

  height: 4rem;
}

label{
  font-family: 'Raleway';
  font-weight: bold;
}

.estimatedPrice{
  position: relative;
  left: 3rem;
}